.content {
    width: calc(100% - 228px);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 56px;
    box-sizing: border-box;
}

@media (max-width: 850px) {
    .content {
        width: calc(100% - 70px);
        padding: 0 28px;
    }
}

@media (max-width: 520px) {
    .content {
        padding: 0 18px;
    }
}